name: Build and test the app

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  # schedule:
  #   - cron: '*/30 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      # run: git clone https://github.com/your-username/your-repo.git

    # - name: Use Node.js 20
    #   uses: actions/setup-node@v4

    - name: Install dependencies now
      run: npm install
      
    # - run: npm ci
    # - run: npm run build --if-present
    
    - name: Run test hello
      run: npm test

  # deploy:
  #   needs: build

  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/main' && github.event_name == 'push'

  #   steps:

  #   - uses: actions/checkout@v4

  #   - name: Use Node.js 20
  #     uses: actions/setup-node@v4

  #   - name: Install dependencies now
  #     run: npm install

  #   - name: Deploy application
  #     run: echo "Deploying application..."






# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

# name: Node.js CI

# on:
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]

# jobs:
#   build:

#     runs-on: ubuntu-latest

#     strategy:
#       matrix:
#         node-version: [18.x, 20.x, 22.x]
#         # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

#     steps:
#     - uses: actions/checkout@v4
#     - name: Use Node.js ${{ matrix.node-version }}
#       uses: actions/setup-node@v4
#       with:
#         node-version: ${{ matrix.node-version }}
#         cache: 'npm'
#     - run: npm ci
#     - run: npm run build --if-present
#     - run: npm test
